.footer {
  width: 100%;
  height: 60px;
  background-color: #212529;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socialMedia {
  width: 10%;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin: 20px !important;

}

.socialMedia a {
  color: aliceblue;
  
}

.footer p {
  color: white;
  margin: 10px !important;
}